<a class="text-white-50 text-decoration-none small fw-medium nav-link-hover" asp-area="Identity"
   asp-controller="account" asp-action="Register">Register</a>
<a class="btn btn-sm btn-accent fw-semibold" asp-area="Identity" asp-controller="Account" asp-action="Login">
    Login
</a>